body {
    
    font-family: 'Courier New', Courier, monospace;
    margin-left: auto;
    margin-right: auto;
}
.streaking-logo{
    position: absolute;
    top:60%;
    left: 38%;
    width: 50%;
    height: auto;
    margin: auto;
}
.logo{
    position: relative;
}
a:visited{
    color: blue;
}

.floater {
    float: left;

}
.clear {
    clear: both
}

.header {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sub-header {
    font-size: .5em;
}

.inspiration {
    white-space:pre-line;
}

.void {
    text-overflow: ellipsis;
}

@media only screen and (min-width: 1366px){
    body{
        width: 1366px;
    }
    .header {
        width: 546.4px;
        height: 273.2px;
        font-size: 85px;
    }
    .logo{
        width: 546.4px;
        height: 546.4px;
    }
    .inspiration {
        width: 819.6px;
        height: 819.6px;
        font-size: 30px;
    }
    .void{
        width: 1366px;
        height: 1366px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 1366px){
    body {
        width: 95vw;
    }
    .header {
        width: 38vw;
        height: 19vw;
        font-size: 5.94vw;
    }
    .logo{
        width: 38vw;
        height: 38vw;
    }
    .inspiration {
        width: 57vw;
        height: 57vw;
        font-size: 2.26vw;
    }
    .void{
        width: 95vw;
        height: 95vw;
        font-size: 1.8vw;
    }
}

@media only screen and (max-width: 830px){
    .inspiration {
        font-size: 2.1vw;
    }
}


@media only screen and (max-width: 500px){
    .inspiration {
        font-size: 1.9vw;
    }
}